<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Content</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>spam</ion-item>
<ion-item>spam</ion-item>
<ion-item>spam</ion-item>
<ion-item>spam</ion-item>
<ion-item>spam</ion-item>
<ion-item>spam</ion-item>
<ion-item>spam</ion-item>
<ion-item>spam</ion-item>
<ion-item>spam</ion-item>
<ion-item>spam</ion-item>
<ion-item>spam</ion-item>
<ion-item>spam</ion-item>
<ion-item>spam</ion-item>
<ion-item>spam</ion-item>
<ion-item>spam</ion-item>
<ion-item>spam</ion-item>
<ion-item>spam</ion-item>
<ion-item>spam</ion-item>
<ion-item>spam</ion-item>
<ion-item>spam</ion-item>
<ion-item>spam</ion-item>
<ion-item>spam</ion-item>
<ion-item>spam</ion-item>
<ion-item>spam</ion-item>
<ion-item>spam</ion-item>
<ion-item>spam</ion-item>
<ion-item>spam</ion-item>
<ion-item>spam</ion-item>
<ion-item>spam</ion-item>
<ion-item>spam</ion-item>
</ion-content>
