<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-img src="../assets/images/rio2.png"></ion-img>
  <ion-card-content>
  <ion-card-title> Rio de Janeiro</ion-card-title>
  <p> Conheça a cidade maravilhosa do Rio de Janeiro!!! </p>
</ion-card-content>
  </ion-card>
</ion-content>
    
<ion-card>
  <ion-item href='#' class="activate">
    <ion-icon name="wifi" slot="start"></ion-icon>Wifi
  </ion-item>
  <ion-item>
      <ion-icon name="bus" slot="start"></ion-icon>Transporte
  </ion-item>
  <ion-item>
      <ion-icon name="restaurant" slot="start"></ion-icon>Restaurantes
  </ion-item>
</ion-card>



    


